/* src/components/Products.css */

.products-container {
  padding: 2rem;
  text-align: center;
}

.products-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0;
  list-style: none;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-details {
  padding: 1rem;
}

.product-name {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.product-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.add-to-cart-button {
  padding: 0.8rem 1.5rem;
  background-color: #ffd700;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #f39c12;
}

/* Loading.css */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

p {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

